@font-face {
  font-family: 'Montserrat';
  src: url('../../../../static/fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('../../../../static/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../../../static/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../../../../static/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../../../static/fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../../../../static/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../../../static/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../../../../static/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../../../static/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
      url('../../../../static/fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../../../../static/fonts/HelveticaNeueCyr-Bold.eot');
	src: url('../../../../static/fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../../../static/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
		url('../../../../static/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Verdana';
	src: url('../../../../static/fonts/Verdana.eot');
	src: url('../../../../static/fonts/Verdana.eot?#iefix') format('embedded-opentype'),
		url('../../../../static/fonts/Verdana.woff') format('woff'),
		url('../../../../static/fonts/Verdana.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
