@import 'blocks/btn.styl'
@import 'blocks/common.styl'

@import 'partials/header.styl'
@import 'partials/footer.styl'

@import 'blocks/logo.styl'
@import 'blocks/video-back.styl'
@import 'blocks/ihead.styl'
@import 'blocks/inav.styl'
@import 'blocks/nav.styl'
@import 'blocks/iadvant.styl'
@import 'blocks/decor.styl'
@import 'blocks/text.styl'
@import 'blocks/iserv.styl'
@import 'blocks/isteps.styl'
@import 'blocks/play-btn.styl'
@import 'blocks/ireview.styl'
@import 'blocks/icontacts.styl'
@import 'blocks/ifeed.styl'
@import 'blocks/form.styl'
@import 'blocks/checkbox.styl'
@import 'blocks/popup.styl'

@import 'libs/swiper.styl'
@import 'libs/magnific-popup.styl'
