*
  box-sizing border-box

img
  max-width 100%

a
  text-decoration none

html
  font-size $baseFontSize
  margin-right 0 !important

html, body, .wrapper
  position relative
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility !important

body
  min-width 320px
  margin 0
  padding 0
  font-family $baseFontFamily
  font-weight $baseFontWeight
  overflow-x hidden

  &.blocked, &.open-menu
    overflow hidden
    -ms-touch-action none
    touch-action none

  &.open-menu
    .header
      box-shadow 0 0 35px rgba(0,0,0,0.15)

  &.page-loaded
    .preloader
      opacity 0
      visibility hidden
    .wrapper, .header, .main, .footer
      opacity 1

  &.page-loaded.mfp-open,
  &.mfp-open
    .wrapper
      padding-right 17px
    .preloader
      opacity 0
      visibility hidden
    .wrapper, .header, .main, .footer
      opacity 0

.wrapper, .header, .main, .footer
  opacity 0
  transition opacity .4s ease-in

.wrapper
  position relative
  width 100%
  min-height 100vh
  overflow-x hidden
  transition right .4s
