+b('section').ihead
  +e.container
    +e.pattern
      include ../../../img/pattern.svg
      include ../../../img/pattern-mobile.svg
    +e('h1').title Юридическая помощь по уголовным делам в сфере экономики
