+b('section').inav
  +e.row.row
    +e.left
      +b('a')(href="/").logo
        +e('img')(src=baseSrc+"logo2.png" alt="Ителлектуальеные решения").img
    +e.center
      +b('nav').nav
        +e('ul').list
          +e('li').list-item
            +e('a')(href="#").list-item-href.--active Преимущества
          +e('li').list-item
            +e('a')(href="#").list-item-href Услуги
          +e('li').list-item
            +e('a')(href="#").list-item-href Как мы работаем
          +e('li').list-item
            +e('a')(href="#").list-item-href Чем мы отличаемся
          +e('li').list-item
            +e('a')(href="#").list-item-href Отзывы
    +e.right
      +e('a')(href="tel:83517502541").phone +7 351 750-25-41
      +video-btn('Задать вопрос юристу')(class="inav__btn")
