+b('section')(data-anchors-items="05").ireview
  .center
    +e('h2').title.title Отзывы
  +e.carousel
    .swiper-container.js-ireview-swiper
      .swiper-wrapper
        .swiper-slide
          +e.item
            +e('p').item-author Чернов Дмитрий, ООО «СГ-Транс» 2
            +e.item-text
              .text
                p Воспользовалась платными услугами компании и&nbsp; осталась довольна! Во&nbsp; первых, сэкономила на&nbsp; консультации, во&nbsp; вторых, цены на&nbsp; платные услуги оказались на&nbsp; порядок ниже, чем в&nbsp; других компаниях. Юрист действительно был опытный, это было видно по тому как профессионально он продумал стратегию защиты. Итог: я&nbsp; сэкономила кучу денег и&nbsp; выиграла суд, сохранив за собой свою недвижимость!
                p Взыскание заработной платы, компенсации в&nbsp; связи с&nbsp; увольнением и&nbsp; причинением вреда здоровью, представление интересов клиента в&nbsp; суде. 
            +e('time').item-date 17.06.2019
        .swiper-slide
          +e.item
            +e('p').item-author Чернов Дмитрий, ООО «СГ-Транс»
            +e.item-text
              .text
                p Воспользовалась платными услугами компании и&nbsp; осталась довольна! Во&nbsp; первых, сэкономила на&nbsp; консультации, во&nbsp; вторых, цены на&nbsp; платные услуги оказались на&nbsp; порядок ниже, чем в&nbsp; других компаниях. Юрист действительно был опытный, это было видно по тому как профессионально он продумал стратегию защиты. Итог: я&nbsp; сэкономила кучу денег и&nbsp; выиграла суд, сохранив за собой свою недвижимость!
                p Взыскание заработной платы, компенсации в&nbsp; связи с&nbsp; увольнением и&nbsp; причинением вреда здоровью, представление интересов клиента в&nbsp; суде. 
            +e('time').item-date 17.06.2019
        .swiper-slide
          +e.item
            +e('p').item-author Чернов Дмитрий, ООО «СГ-Транс» 3
            +e.item-text
              .text
                p Воспользовалась платными услугами компании и&nbsp; осталась довольна! Во&nbsp; первых, сэкономила на&nbsp; консультации, во&nbsp; вторых, цены на&nbsp; платные услуги оказались на&nbsp; порядок ниже, чем в&nbsp; других компаниях. Юрист действительно был опытный, это было видно по тому как профессионально он продумал стратегию защиты. Итог: я&nbsp; сэкономила кучу денег и&nbsp; выиграла суд, сохранив за собой свою недвижимость!
                p Взыскание заработной платы, компенсации в&nbsp; связи с&nbsp; увольнением и&nbsp; причинением вреда здоровью, представление интересов клиента в&nbsp; суде. 
            +e('time').item-date 17.06.2019
        .swiper-slide
          +e.item
            +e('p').item-author Чернов Дмитрий, ООО «СГ-Транс» 4
            +e.item-text
              .text
                p Взыскание заработной платы, компенсации в&nbsp; связи с&nbsp; увольнением и&nbsp; причинением вреда здоровью, представление интересов клиента в&nbsp; суде. 
            +e('time').item-date 17.06.2019
      .swiper-buttons
        .swiper-button-prev
        .swiper-button-next
  .center
    +video-btn('Задать вопрос юристу')(class="--big ireview__btn js-mfp" href="#feedback")
