+b('section')(data-anchors-items="02").iserv
  .center
    +e('h2').title.title.title--white Услуги
    +e.tabs.js-tabs
      +e('ul').tabs-nav
        +e('li').tabs-nav-item
          +e('button')(type="button" data-tabs-nav="01").tabs-nav-btn.--active Физическим лицам
        +e('li').tabs-nav-item
          +e('button')(type="button" data-tabs-nav="02").tabs-nav-btn Юридическим лицам
      +e('ul').tabs-list
        +e('li')(data-tabs-item="01").tabs-item.--active
          +e('ul').items
            +e('li').item
              +e('p').item-title Уголовные дела
              +e('p').item-descr Защита в&nbsp; ходе предварительного следствия и&nbsp; в&nbsp; суде.
            +e('li').item
              +e('p').item-title Защита авторских прав
              +e('p').item-descr От сбора доказательств до&nbsp; представления интересов в&nbsp; суде.
            +e('li').item
              +e('p').item-title Взыскание ущерба
              +e('p').item-descr Возмещение убытков, компенсация морального ущерба, ДТП, споры со&nbsp; страховыми компаниями и&nbsp; т.д.
            +e('li').item
              +e('p').item-title Защита прав потребителей
              +e('p').item-descr От сбора доказательств и&nbsp; подготовки документов до&nbsp; представления интересов клиента в&nbsp; суде.
            +e('li').item
              +e('p').item-title Трудовые споры
              +e('p').item-descr Взыскание заработной платы, компенсации в&nbsp; связи с&nbsp; увольнением и&nbsp; причинением вреда здоровью, представление интересов клиента в&nbsp; суде.
            +e('li').item
              +e('p').item-title Земельные и жильщные споры
              +e('p').item-descr Приватизация квартир и&nbsp; комнат, оформление сделок с&nbsp; землей и&nbsp; недвижимостью, подготовка необходимых документов.
          
          +e('a')(href="#feedback").btn.btn.--big.--light.js-mfp
            span.btn__title Задать вопрос юристу

        +e('li')(data-tabs-item="02").tabs-item
          +e('ul').items
            +e('li').item
              +e('p').item-title Уголовные дела
              +e('p').item-descr Защита в&nbsp; ходе предварительного следствия и&nbsp; в&nbsp; суде.
            +e('li').item
              +e('p').item-title Защита авторских прав
              +e('p').item-descr От&nbsp; сбора доказательств до&nbsp; представления интересов в&nbsp; суде.
            +e('li').item
              +e('p').item-title Взыскание ущерба
              +e('p').item-descr Возмещение убытков, компенсация морального ущерба, ДТП, споры со&nbsp; страховыми компаниями и&nbsp; т.д.
            +e('li').item
              +e('p').item-title Защита прав потребителей
              +e('p').item-descr От сбора доказательств и&nbsp; подготовки документов до&nbsp; представления интересов клиента в&nbsp; суде.
          
          +e('a')(href="#feedback").btn.btn.--big.--light.js-mfp
            span.btn__title Задать вопрос юристу

