+b('section').video-back
  +e('video')(autoplay muted="muted" preload="auto" playsinline="" loop="loop" poster="static/video/video-back-poster.jpg").video-item
    source(src="static/video/video-back.mp4" type="video/mp4")
