extends includes/template/base.pug

block variables
  - var title = "Интеллектуальные решения";
  - var baseSrc = 'static/img/';

block main

  //include includes/blocks/video-back
  include includes/blocks/ihead
  include includes/blocks/inav
  include includes/blocks/iadvant
  include includes/blocks/iserv
  include includes/blocks/isteps
  include includes/blocks/ireview
  include includes/blocks/icontacts
  include includes/blocks/ifeed

