.footer
  padding 41px 0 32px
  &__row
    align-items center
  &__copy
    color #fff
    font-size 16px
    font-weight 400
    line-height 20px
    margin-right 177px
  &__center
    display flex
    align-items center
    flex-wrap wrap
  &__address
    color #fff
    font-size 16px
    font-weight 400
    line-height 20px
    margin-right 24px
    &:last-child
      margin-right 0
  &__phone
    color #fff
    font-size 20px
    font-weight 600
    line-height 24px
  &__developer
    display flex
    align-items center
    color #fff
    font bold 12px/26px 'HelveticaNeueCyr'
    text-transform uppercase
    margin-left auto
    margin-right 45px
    max-width 155px
    letter-spacing 0.19em
    margin-top -2px
    span
      color rgba(#fff, .5)
      font 400 9px/14px 'Verdana'
      margin-left 13px
      letter-spacing 0.17em
