.header
  position absolute
  width 100%
  left 0
  top 0
  z-index 1
  padding 30px 43px
  transition box-shadow  .4s
  @media $desktopMax
    padding 20px 34px
  @media (max-width: 1239px)
    position fixed
    left 0
    top 0
    width 100%
    padding 15px 20px
    z-index 11
  @media (max-width: 1239px)
    background-color #fff
  &.fixed
    box-shadow 0 0 35px rgba(0, 0, 0, 0.15)
  &__row
    justify-content space-between
    align-items center
  &__phone
    color $black
    font-size 20px
    font-weight 600
    line-height 24px
    margin-left auto
    margin-right 24px
    transition opacity .4s
    @media $desktopMax
      font-size 18px
    @media $mLandscapeMax
      margin-right 0
    @media $mPortraitMax
      display none
    &:hover
      opacity .7
  &__btn
    @media $mLandscapeMax
      display none
  &__burger
    display none
    align-items center
    justify-content center
    flex-shrink 0
    position relative
    background none
    width 40px
    height 40px
    margin-left 25px
    background none
    overflow hidden
    z-index 1
    &:hover
      span
        &:before, &:after
          transition top .25s, bottom .25s
        &:before
          top -8px
        &:after
          bottom -8px
    &.active
      span
        background-color transparent
        &:after, &:before
          transition transform .25s ease-in-out .25s, top .25s ease-in-out 0s, bottom .25s ease-in-out 0s
        &:before
          top 0
          transform rotate(45deg)
        &:after
          bottom 0
          transform rotate(-45deg)
      &:hover
        span
          &:after, &:before
            transition transform .25s ease-in-out .25s, top .25s ease-in-out 0s, bottom .25s ease-in-out 0s
    &:focus
      outline none
    @media (max-width: 1239px)
      display flex
    span
      display block
      position relative
      width 22px
      height 2px
      background-color #000
      &:before, &:after
        content ''
        position absolute
        left 0
        width 22px
        height 2px
        background-color #000
        transition transform .25s ease-in-out 0s, top .25s ease-in-out .25s, bottom .25s ease-in-out .25s
      &:before
        top -6px
      &:after
        bottom -6px
