.header
  position absolute
  width 100%
  left 0
  top 0
  z-index 1
  background-color #fff
  padding 30px 43px
  &__row
    justify-content space-between
    align-items center
  &__phone
    color $black
    font-size 20px
    font-weight 600
    line-height 24px
    margin-left auto
    margin-right 24px
