.btn
  display inline-block
  vertical-align top
  position relative
  color #fff
  padding 9px 20px 8px
  border-radius 21px
  background none
  transition border .4s ease-in-out
  user-select none
  z-index 1
  @media $desktopMax
    padding 6px 20px
  &:hover
    &:after
      opacity 0
    .btn__video-wrap
      opacity 1
      visibility visible
      transform scale(1)
  &__title
    display block
    position relative
    text-align center
    font 600 16px/24px Montserrat
    z-index 1
    @media $desktopMax
      font-size 14px
  &__video
    &-wrap
      position absolute
      left -10px
      top -2px
      width calc(100% + 20px)
      height calc(100% + 4px)
      border-radius 23px
      opacity 0
      visibility hidden
      transform scale(.9)
      transition opacity .3s ease-in-out, visibility .3s ease-in-out, transform .4s ease-in-out
      overflow hidden
      will-change transform
      z-index -1
    &-item
      @extend .centerPos
      width 102%
      height auto
      min-height 100%
  &:after
    @extend .after
    left 0
    top 0
    width 100%
    height 100%
    border-radius 21px
    background-color #000
    transition opacity .3s ease-in-out
    z-index -2
  &--big
    border-radius 27px
    padding 15px 28px
    @media $desktopMax
      padding 14px 28px 12px
    &:after, .btn__video-wrap
      border-radius 27px
    .btn__video-wrap
      left -16px
      width calc(100% + 32px)
    .btn__title
      font-size 20px
      @media $desktopMax
        font-size 18px
  &--light
    border 2px solid transparent
    &:hover
      border-color #fff
