.iadvant
  background-color #fff
  padding 96px 0 95px
  &__row
    align-items center
    justify-content space-between
  //&__left
  &__text
    max-width 365px
  &__btn
    margin-top 45px
    &:first-child
      margin-top 0
  &__right
    justify-content flex-end
  &__items
    display flex
    flex-wrap wrap
    justify-content center
    align-items flex-start
    margin-top 86px
    margin-bottom -34px
  &__item
    text-align center
    width calc(100%/3)
    max-width 340px
    margin 0 39px 34px
    &-number
      color $black
      font-size 80px
      font-weight 600
      line-height 84px
    &-descr
      color #010101
      font-size 16px
      font-weight 400
      line-height 20px
      margin-top 3px
      padding 0 20px

