.ihead
  display flex
  flex-direction column
  position relative
  width 100%
  height 100vh
  &__container
    display flex
    width 100%
    max-width 1440px
    margin 0 auto
    align-items flex-start
    height 100%
    padding-top 15vh
    padding-bottom 10vh
  &__pattern
    width 53vw
    height 49vh
    margin-bottom 11vh
    svg
      @extend .centerPos
      width 100vw
      height 100vh
      user-select none
  &__title
    position relative
    color $black
    font-size 60px
    font-weight 600
    line-height 64px
    max-width 750px
    margin-left -23vw
    margin-top 35vh
    z-index 1

