.inav
  position relative
  width 100%
  left 0
  top 0
  padding 30px 42px
  background-color #fff
  transition box-shadow .4s
  overflow hidden
  @media $desktopMax
    padding 20px 34px
  @media (max-width: 1239px)
    padding 0
    height 0
    box-shadow none
  &--fixed
    position fixed
    box-shadow 0 0 35px rgba(0, 0, 0, 0.15)
    z-index 5
    & + .iadvant
      padding-top 197px
      @media $desktopMax
        padding-top 139px
      @media (max-width: 1239px)
        padding-top 0
    .inav
      &__left, &__right
        opacity 1
        visibility visible
    .nav__list-item-href:after
      bottom -39px
      @media (max-width: 1770px)
        bottom -32px
  &__row
    flex-wrap nowrap
    justify-content space-between
    align-items center
  &__left, &__right
    width 25%
    opacity 0
    visibility hidden
    transition opacity .4s, visibility .4s
    @media (max-width: 1770px)
      width 19%
    @media (max-width: 1239px)
      display none
  &__right
    display flex
    align-items center
    justify-content flex-end
  &__phone
    color $black
    font-size 20px
    font-weight 600
    line-height 24px
    transition opacity .4s
    &:hover
      opacity .7
  &__btn
    margin-left 20px
    @media (max-width: 1770px)
      display none
