.isteps
  padding 100px 0 96px
  position relative
  background-color #fff
  overflow hidden
  &__row
    justify-content space-between
    align-items center
  &__left
    justify-content flex-start
  &__right
    position relative
    z-index 2
  &__title
    margin-bottom 27px
  &__text
    max-width 372px
  &__btn
    margin-top 39px
  &__items
    display flex
    flex-wrap wrap
    align-items flex-start
    justify-content center
    margin-top 87px
  &__item
    display flex
    flex-direction column
    justify-content center
    align-items center
    width calc(100%/3)
    margin 0 34px
    max-width 350px
    text-align center
    &-overico
      display flex
      justify-content center
      align-items flex-end
      height 70px
      margin-bottom 17px
    &-ico
      max-height 100%
    &-title
      color $black
      font-size 18px
      font-weight 600
      line-height 22px
      margin-bottom 11px
    &-descr
      color #010101
      font-size 16px
      font-weight 400
      line-height 20px
      max-width 310px
  .play-btn
    max-width 320px
