.nav
  @media (max-width: 1239px)
    position fixed
    left 0
    top 0
    width 100%
    height 0
    background-color #fff
    padding 140px 20px 80px
    opacity 0
    visibility hidden
    z-index 10
    transition height .5s ease-in-out, opacity .5s ease-in-out, visibility .5s ease-in-out
    transition-delay .5s
    &.open
      height 100%
      opacity 1
      visibility visible
      transition-delay 0s
      .nav__list
        transform translateY(0)
        opacity 1
        visibility visible
        transition-delay .5s
  &__list
    display flex
    @media (max-width: 1239px)
      flex-direction column
      align-items center
      transform translateY(50px)
      opacity 0
      visibility hidden
      transition transform .5s ease-in-out, opacity .5s ease-in-out, visibility .5s ease-in-out
    &-item
      margin 0 16px
      @media $desktopMax
        margin 0 14px
      @media (max-width: 1239px)
        margin 0 0 30px
      &-href
        display inline-block
        vertical-align top
        position relative
        color $black
        font-size 18px
        font-weight 600
        line-height 22px
        transition color .4s
        @media $desktopMax
          font-size 16px
        @media (max-width: 1239px)
          font-size 22px
          line-height 26px
        &:after
          @extend .after
          left 50%
          transform translateX(-50%)
          bottom -15px
          width 0
          height 5px
          background-color #37c4f3
          transition width .4s, bottom .4s
          @media (max-width: 1239px)
            bottom -10px
        &:hover
          color $blue
        &:hover, &--active
          &:after
            width 40px
