+b('footer').footer
  .container
    +e.row.row
      +e('p').copy &copy; «Интеллектуальные решения», 2019
      +e.center
        +e('address').address Челябинск, улица Осипенко, дом 3, офис 2
        +e('a')(href="tel:83517502541").phone +7 351 750-25-41
      +e('a')(href="https://www.dextra.ru" target="_blank").developer 
        span Dextra
        |  Разработка сайта
