+b('header').header
  +e.row.row
    +b('a')(href="/").logo
      +e('img')(src=baseSrc+"logo.png" alt="Ителлектуальеные решения").img
    +e('a')(href="tel:83517502541").phone +7 351 750-25-41
    +video-btn('Задать вопрос юристу')(class="header__btn")
